<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Tu aplicación necesita acceso a la ubicación para mostrar mapas y proporcionar información relevante.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Tu aplicación necesita acceso a la ubicación en todo momento para proporcionar servicios basados en la ubicación.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tu aplicación necesita acceso a la ubicación para mostrar mapas y proporcionar información relevante.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Comfortaa-Bold.ttf</string>
		<string>Comfortaa-Light.ttf</string>
		<string>Comfortaa-Medium.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Comfortaa-SemiBold.ttf</string>
		<string>LobsterTwo-Bold.ttf</string>
		<string>LobsterTwo-BoldItalic.ttf</string>
		<string>LobsterTwo-Italic.ttf</string>
		<string>LobsterTwo-Regular.ttf</string>
		<string>PoetsenOne-Regular.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BaseURL</key>
	<string>$(BASE_URL)</string>
</dict>
</plist>
